* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

header {
  background-color: #faa;
  height: 70px;
}

main {
  background-color: #afa;
  flex: 1;
  overflow-y: scroll;
}

p {
  margin: 10px;
}

footer {
  background-color: #aaf;
  height: 70px;
}